:root{
    --black-color: #131313;
    --brown-color: #403317;


    --font-size-xs: 16px;
    --font-size-sm: 18px;
    --font-size-md: 20px;
    --font-size-lg: 35px;
    --font-size-xl: 50px;
    --font-size-xxl: 65px;

    --padding-mobile: 0 10px;
    --padding-tablet: 0 80px;
    --padding-laptop: 0 120px;
    --padding-desktop: 0 360px;

    --font-caveat: "Caveat", cursive;
    --font-poppins: "Poppins", sans-serif;
    
}