:root{
    --black-color: #131313;
    --brown-color: #403317;


    --font-size-xs: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-md: 1.25rem;
    --font-size-l-md: 1.875rem;
    --font-size-lg: 2.1875rem;
    --font-size-xl: 3.125rem;
    --font-size-xxl: 4.0625rem;

    --review-btn: 1,375rem;
    --review-btn-lg: 1,625rem;

    --padding-mobile: 0 10px;
    --padding-tablet: 0 80px;
    --padding-laptop: 0 120px;
    --padding-desktop: 0 360px;

    --font-caveat: "Caveat", cursive;
    --font-poppins: "Poppins", sans-serif;
    
}