@use '../../../app/styles/index.scss' as *;
@use '../../../app/styles/media-queries.scss' as *;
@use '../../../app/styles/vars.scss' as *;

.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--black-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
