@use '../../app/styles/index.scss' as *;
@use '../../app/styles/media-queries.scss' as *;
@use '../../app/styles/vars.scss' as *;

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    margin: auto;
}

@include laptop{
    .section{
        align-items: center;
    }
}