@use '../../app/styles/index.scss' as *;
@use '../../app/styles/media-queries.scss' as *;
@use '../../app/styles/vars.scss' as *;

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;

    .btn{
        margin: auto;
    }
}

@include laptop{
    .section{
        align-items: center;
    }
    .form{
        max-width: 250px;
    }
}