@use '../../../app/styles/vars.scss' as *;

.button{
    background-color: transparent;
    font-size: var(--font-size-md);
    padding: 10px;
    border: 2px solid var(--black-color);
    color: var(--black-color);
    width: 250px;
    font-family: var(--font-poppins);
    cursor: pointer;

    &.navigation{
        background-color: transparent;
        color: var(--black-color);
        border: none;
        font-size: var(--font-size-sm);
        width: auto;
        position: relative;

        .span {
            position: relative;
            display: inline-block;
            
            &::after {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0%;
                height: 1px; 
                background-color: var(--black-color);
                transition: width .7s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }

    }
    &.clear{
        background-color: transparent;
        color: var(--black-color);
        font-size: 16px;
        border: none;
        width: auto;
        padding: 0;
    }
}