@use '../../app/styles/index.scss' as *;
@use '../../app/styles/media-queries.scss' as *;
@use '../../app/styles/vars.scss' as *;

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    // margin-bottom: 80px;
    min-height: 80vh;
}
.logo{
    height: 150px;
}
.heroHeading{
    color: var(--black-color);
    text-align: center;
    font-family: var(--font-caveat);
}
.heroText{
    font-family: var(--font-caveat);
    text-align: center;
}
@include laptop{
    .section{
        flex-direction: row;
        justify-content: space-between;
    }
    .heroHeading{
        font-size: var(--font-size-xl);
    }
    .textWrapper{
        min-width: 300px;
    }
    .logo{
        margin-bottom: 30px; 
    }
}