@use '../../../app/styles/index.scss' as *;
@use '../../../app/styles/media-queries.scss' as *;
@use '../../../app/styles/vars.scss' as *;


.slideshow  {
    width: 100%;
    position: relative;
}
.prevSlideshow, .nextSlideshow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    opacity: 0.3;
    height: 100%;
    width: 30px;
}
.prevSlideshow{
    left: 0;
}
.nextSlideshow{
    right: 0;
}
.prevSlideshow, .nextSlideshow{
    opacity: .9;
}
@include laptop{
    .slideshow  { 
        max-width: 900px;
        margin: auto;
    }
}