@use '../../app/styles/vars.scss' as * ;
@use '../../app/styles/media-queries.scss' as * ;
@use '../../app/styles/index.scss' as *;

.founderImage{
    width: 100%;
}
@include laptop {
    .container{
        flex-direction: row;
        align-items: center;
    }
    .desktop{
        max-width: 600px;
    }
}
