@use '../../../../app/styles/index.scss' as *;
@use '../../../../app/styles/media-queries.scss' as *;
@use '../../../../app/styles/vars.scss' as *;

.subheading{
    margin: 50px 0 30px 0;
}
.lastUpdate{
    margin: 20px 0;
}
.text{
    margin-top: 10px;
}