@use '../../app/styles/vars.scss' as * ;
@use '../../app/styles/media-queries.scss' as * ;
@use '../../app/styles/index.scss' as *;

.membersImage{
    width: 100%;
}
.btn{
    margin: 20px auto;
}

@include laptop {
    .container{
        flex-direction: row;
        align-items: center;
    }
    .picture{
        max-width: 600px;
    }
}
