@use '../../../app/styles/index.scss' as *;
@use '../../../app/styles/media-queries.scss' as *;
@use '../../../app/styles/vars.scss' as *;

.section{
    margin-bottom: 0;
}
.imageScrollContainer {
    overflow: hidden;
    margin: 20px 0;
}
.imageScrollContent{
    width: fit-content;
    animation: scroll 60s linear infinite;
}
.imageScrollContent > * {
    margin: 7px;
}
.sponsorImg {
    height: 100px;
}
.imgSponsor{
    .sponsorName{
        font-size: 0.625rem;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@include laptop{
    .imgSponsor{
        margin: 10px;
            .sponsorName{
                font-size: 0.85rem;
            }
    }
    .sponsorImg{
        height: 140px;
    }
}