@use '../../app/styles/media-queries.scss' as *;

.scrollToTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 15;
    background-color: #ffffffce;
    padding: 15px 10px;
    animation: bounce 3s ease;
}
@include desktop {
    .scrollToTop{
        bottom: 20px;
        right: 80px;
    }
}
